In [1]:
import pandas as pd
import os
from pathlib import Path

In [5]:
user_ids = [3, 1, 2]
for user_id, partition in zip([3,1,2],["train", "validation", "test"]):
    data = pd.read_csv(f"/workspaces/HIAAC-KR-Dev-Container/Minerva-Dev/experiments/DAGHAR/data/views/HAPT/HAPT_daghar_like/{partition}.csv")
    grouped = data.groupby(['user', 'standard activity code']).size().unstack().fillna(0)
    display(grouped)
    base_path = Path(f"/workspaces/HIAAC-KR-Dev-Container/Minerva-Dev/experiments/DAGHAR/data/views/HAPT/HAPT_concatenated_in_user_files/{partition}")
    first_file_in_partition = os.listdir(base_path)[0]
    data = pd.read_csv(base_path / f"{user_id}.csv")
    print(data.shape)
    print(data.head())

standard activity code   0   1   2   3   4   8   9
user
3                       10  10  10  10  10  10  10
5                       11  11  11  11  11  11  11
6                       11  11  11  11  11  11  11
7                        6   6   6   6   6   6   6
8                        9   9   9   9   9   9   9
11                       8   8   8   8   8   8   8
15                       9   9   9   9   9   9   9
16                       9   9   9   9   9   9   9
19                      10  10  10  10  10  10  10
21                      10  10  10  10  10  10  10
22                       8   8   8   8   8   8   8
23                      10  10  10  10  10  10  10
26                      10  10  10  10  10  10  10
27                       9   9   9   9   9   9   9
28                       6   6   6   6   6   6   6
29                      11  11  11  11  11  11  11
30                      10  10  10  10  10  10  10

(10200, 8)
    accel-x   accel-y   accel-z    gyro-x    gyro-y    gyro-z  user  \
0  0.172189  1.734775  0.485375 -0.220923 -0.107016  0.112076     3
1  0.636580  2.425608  0.812106 -0.224636 -0.114398  0.111723     3
2  1.107933  3.238123  0.993395 -0.418877 -0.048327  0.014049     3
3  3.754811  1.021014 -0.160160 -0.229455 -0.206340  0.389339     3
4  3.051821 -1.295689 -0.599358  0.444851  0.114526  0.310704     3

   standard activity code
0                       2
1                       2
2                       2
3                       2
4                       2

standard activity code   0   1   2   3   4   8   9
user
1                       12  12  12  12  12  12  12
14                      12  12  12  12  12  12  12
17                      13  13  13  13  13  13  13
25                      12  12  12  12  12  12  12

(10560, 8)
    accel-x   accel-y   accel-z    gyro-x    gyro-y    gyro-z  user  \
0 -1.294861 -0.236434 -0.259831 -0.623397  0.136220  0.010822     1
1 -1.821932 -0.922596 -0.579752 -1.295105 -0.709085  0.070628     1
2  0.177586 -3.094782 -0.361923 -0.554891 -0.684927 -0.121937     1
3 -1.053442 -1.975955  0.008194 -0.152452 -0.481352  0.112253     1
4 -0.923933 -0.026548  0.487318 -0.301047 -0.535736  0.422929     1

   standard activity code
0                       2
1                       2
2                       2
3                       2
4                       2

standard activity code   0   1   2   3   4   8   9
user
2                       10  10  10  10  10  10  10
4                       12  12  12  12  12  12  12
9                        7   7   7   7   7   7   7
10                       5   5   5   5   5   5   5
12                      10  10  10  10  10  10  10
13                      10  10  10  10  10  10  10
18                      14  14  14  14  14  14  14
20                      14  14  14  14  14  14  14
24                      13  13  13  13  13  13  13

(9120, 8)
    accel-x   accel-y   accel-z    gyro-x    gyro-y    gyro-z  user  \
0  0.476245 -1.234949 -0.411943 -0.041129  0.254431  0.002350     2
1  0.778963 -1.258698 -0.427255 -0.097711  0.537137  0.139425     2
2 -1.427158 -0.566035 -0.188957 -0.242851  0.505630  0.199356     2
3 -2.062347 -1.114578  0.347244 -0.185672  0.381183  0.155939     2
4 -1.923665 -0.094924  0.744722 -0.232607  0.097516  0.265761     2

   standard activity code
0                       2
1                       2
2                       2
3                       2
4                       2

In [6]:
for user_id, partition in zip(["2.0", "1.0", "4.0"],["train", "validation", "test"]):
    data = pd.read_csv(f"/workspaces/HIAAC-KR-Dev-Container/Minerva-Dev/experiments/DAGHAR/data/views/RecodGait_v2/RG_daghar_like/{partition}.csv")
    display(data.head())
    base_path = Path(f"/workspaces/HIAAC-KR-Dev-Container/Minerva-Dev/experiments/DAGHAR/data/views/RecodGait_v2/RG_concatenated_in_user_files/{partition}")
    data = pd.read_csv(base_path / f"{user_id}.csv")
    print(data.shape)
    print(data.head())

,sample-1-accel-x-0,sample-1-accel-x-1,sample-1-accel-x-2,sample-1-accel-x-3,sample-1-accel-x-4,sample-1-accel-x-5,sample-1-accel-x-6,sample-1-accel-x-7,sample-1-accel-x-8,sample-1-accel-x-9,...,sample-2-gyro-z-59,sample-2-user,sample-2-session,sample-1-user-id,sample-2-user-id,sample-1-session-id,sample-2-session-id,sample-1-index,sample-2-index,label
0,0.971052,0.968781,0.966631,0.964634,0.962821,0.961212,0.959817,0.958638,0.957670,0.956904,...,0.0,2,1,2,2,5,1,551,401,1
1,-2.240370,-2.245470,-2.251056,-2.257089,-2.263529,-2.270337,-2.277472,-2.284887,-2.292529,-2.300337,...,0.0,2,5,2,2,1,5,383,561,1
2,0.282286,0.283236,0.284272,0.285361,0.286475,0.287594,0.288700,0.289786,0.290846,0.291878,...,0.0,2,1,2,2,5,1,623,420,1
3,-2.121021,-2.132170,-2.143500,-2.154972,-2.166539,-2.178149,-2.189748,-2.201276,-2.212679,-2.223902,...,0.0,2,5,2,2,1,5,377,575,1
4,-2.161781,-2.163356,-2.164819,-2.166169,-2.167400,-2.168504,-2.169473,-2.170305,-2.171001,-2.171569,...,0.0,2,5,2,2,1,5,437,573,1

(16380, 8)
    accel-x   accel-y   accel-z  user  gyro-x  gyro-y  gyro-z  activity code
0 -0.607503  9.162132 -1.571399   2.0     0.0     0.0     0.0              0
1  0.006511  9.138483 -1.771956   2.0     0.0     0.0     0.0              0
2 -0.236993  9.136876 -1.770440   2.0     0.0     0.0     0.0              0
3 -0.158802  9.128844 -1.842196   2.0     0.0     0.0     0.0              0
4 -0.263046  9.126806 -1.867817   2.0     0.0     0.0     0.0              0

,sample-1-accel-x-0,sample-1-accel-x-1,sample-1-accel-x-2,sample-1-accel-x-3,sample-1-accel-x-4,sample-1-accel-x-5,sample-1-accel-x-6,sample-1-accel-x-7,sample-1-accel-x-8,sample-1-accel-x-9,...,sample-2-gyro-z-59,sample-2-user,sample-2-session,sample-1-user-id,sample-2-user-id,sample-1-session-id,sample-2-session-id,sample-1-index,sample-2-index,label
0,-1.461685,-1.465404,-1.469388,-1.473649,-1.478190,-1.483006,-1.488084,-1.493398,-1.498909,-1.504572,...,0.0,1,5,1,1,3,5,137,271,1
1,-4.148818,-4.149723,-4.150679,-4.151676,-4.152707,-4.153773,-4.154883,-4.156055,-4.157319,-4.158710,...,0.0,1,3,1,1,1,3,45,148,1
2,0.644364,0.644498,0.644735,0.645068,0.645485,0.645976,0.646527,0.647124,0.647752,0.648395,...,0.0,1,3,1,1,5,3,203,126,1
3,0.352251,0.356028,0.359538,0.362773,0.365723,0.368376,0.370714,0.372718,0.374366,0.375642,...,0.0,1,3,1,1,5,3,184,163,1
4,-4.275827,-4.276943,-4.278171,-4.279528,-4.281025,-4.282666,-4.284449,-4.286370,-4.288419,-4.290585,...,0.0,1,5,1,1,1,5,73,197,1

(21960, 8)
    accel-x   accel-y   accel-z  user  gyro-x  gyro-y  gyro-z  activity code
0 -3.948296  6.510430  0.552822   1.0     0.0     0.0     0.0              0
1 -3.889766  5.855069  1.212007   1.0     0.0     0.0     0.0              0
2 -3.916574  6.326959  0.786215   1.0     0.0     0.0     0.0              0
3 -3.910759  6.374962  0.764609   1.0     0.0     0.0     0.0              0
4 -3.922580  6.657855  0.514016   1.0     0.0     0.0     0.0              0

,sample-1-accel-x-0,sample-1-accel-x-1,sample-1-accel-x-2,sample-1-accel-x-3,sample-1-accel-x-4,sample-1-accel-x-5,sample-1-accel-x-6,sample-1-accel-x-7,sample-1-accel-x-8,sample-1-accel-x-9,...,sample-2-gyro-z-59,sample-2-user,sample-2-session,sample-1-user-id,sample-2-user-id,sample-1-session-id,sample-2-session-id,sample-1-index,sample-2-index,label
0,3.199065,3.198900,3.199001,3.199400,3.200111,3.201129,3.202435,3.203997,3.205777,3.207733,...,0.0,4,1,4,4,3,1,1157,1089,1
1,3.355231,3.348176,3.340540,3.332451,3.324044,3.315457,3.306824,3.298271,3.289911,3.281843,...,0.0,4,3,4,4,1,3,1071,1112,1
2,3.328619,3.328341,3.327850,3.327227,3.326556,3.325922,3.325400,3.325055,3.324940,3.325089,...,0.0,4,3,4,4,1,3,1069,1104,1
3,3.088008,3.084058,3.080002,3.075964,3.072063,3.068410,3.065098,3.062204,3.059780,3.057855,...,0.0,4,1,4,4,3,1,1172,1018,1
4,2.568757,2.567011,2.565560,2.564479,2.563825,2.563643,2.563962,2.564792,2.566126,2.567944,...,0.0,4,3,4,4,1,3,1060,1177,1

(11040, 8)
    accel-x   accel-y   accel-z  user  gyro-x  gyro-y  gyro-z  activity code
0  0.701851 -2.793666 -1.610578   4.0     0.0     0.0     0.0              0
1  0.144986 -0.502028 -1.925810   4.0     0.0     0.0     0.0              0
2  0.309777 -2.012447 -1.812929   4.0     0.0     0.0     0.0              0
3  0.202578 -2.104738 -1.855848   4.0     0.0     0.0     0.0              0
4  0.249394 -2.998031 -1.804641   4.0     0.0     0.0     0.0              0